<p>Note pliss -</p>
<p>We collect these details to be able to suggest usernames relevant to you and your personality. None of the information asked for here is (or should be) confidential. Do be careful to not provide any keywords or patterns that you tend to use in your passwords. We do not store the usernames that our system suggests to you, and even if we had, that would have been safe as usernames are usually not confidential. Also, yeh aiwai timepass project hai, so zyada sawal na poochiye.</p>
<p>Okay, so please fill all the fields and do not fuck around by providing garbage values or trying to break the system by doing some sort of malicious injection. No one cares.</p>

<form action="/register" method="post">
<table width="80%" cellpadding="10">
<tbody>
<tr>
<td align="right">Name</td>
<td><input id="name" name="name" type="text" required /></td>
</tr>
<tr>
<td align="right">Profession</td>
<td><input id="profession" name="profession" type="text" required /></td>
</tr>
<tr>
<td align="right">Birth date</td>
<td><input id="birthdate" name="birthdate" type="date" required /></td>
</tr>
<tr>
<td align="right">Hobbies (comma separated)</td>
<td><input id="hobbies" name="hobbies" type="text" size=80/></td>
</tr>
<tr>
<td align="right">Words or phrases (comma separated) that define your attitude (e.g. freedom, prescient)</td>
<td><input id="attitude" name="attitude" type="text" size=80/></td>
</tr>
<tr>
<td align="right">Favorite words or phrases (comma separated)</td>
<td><input id="words" name="words" type="text" size=50/></td>
</tr>
<tr>
<td align="right">Favorite Numbers&nbsp;(comma separated)</td>
<td><input id="numbers" name="numbers" type="text" /></td>
</tr>
<tr>
<td align="right">Favorite music genre(s)&nbsp;(comma separated)</td>
<td><input id="genre" name="genre" type="text" size=80/></td>
</tr>
<tr>
<td align="right">Favorite artist(s)&nbsp;(comma separated)</td>
<td><input id="artist" name="artist" type="text" size=80/></td>
</tr>
<tr>
<td align="right">Favorite song(s)&nbsp;(comma separated)</td>
<td><input id="song" name="song" type="text" size=80/></td>
</tr>
<tr></tr>
<tr>
<td align="right"> <input type="submit" value="Submit"></td>
<td></td>
</tr>
</tbody>
</table>
</form>
