<html>
    <head>
        <title>Hangman!</title>
        <link rel="stylesheet" type="text/css" href="../css/hangman.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="../js/hangman.js"></script>
    </head>
    <body>
        <div class="grid-container">
            <div class="pole-bottom">
            </div>
            <div class="pole-top-left">
                <img src="../img/pole-top-left.png"  style="float: right;" alt="" />                
            </div>
            <div class="pole-top-right">
                <img src="../img/pole-top-right.png" alt="" /> 
            </div>
            <div class="hangman" id="hangman-ctr">          
            </div>
            <div class="word-game-area" id="word-game"></div>
            <div class="score" id="score-msg"></div>            
        </div>
    </body>
</html>