<!DOCTYPE HTML>
<html>
<head>
<script type="text/javascript">
window.onload = function() {
	var dataPoints = [];
	var chart;
  var url = "http://localhost:8080/q?d=" + <%= query_date %>;
	$.getJSON(url, function(data) {
		var histogram = data["histogram"];
		$.each(histogram, function(key, value){
			dataPoints.push({y: parseInt(value), indexLabel: key});
		});
		chart = new CanvasJS.Chart("chartContainer",{
			title:{
				text:"Daily Chart"
			},
      legend: {
        maxWidth: 350,
        itemWidth: 120
      },
      data: [{
				type: "pie",
        showInLegend: true,
			  legendText: "{indexLabel}",
				dataPoints : dataPoints,
			}]
		});
		chart.render();
	});
}
</script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</head>
<body>
<div id="chartContainer" style="height: 300px; width: 100%;"></div>
</body>
</html>
