<!DOCTYPE HTML>
<html>
<head>
<script type="text/javascript">
window.onload = function() {
	var dataPoints1 = [];
	var chart1;
  var url = "http://localhost:8080/q?d=" + <%= query_date %>;
	var limit = <%= limit %>;
	if (limit) {
			url += "&l=" + limit;
	}
	$.getJSON(url, function(data) {
		var histogram = data["histogram"];
		$.each(histogram, function(key, value){
			dataPoints1.push({y: parseInt(value), indexLabel: key});
		});
		chart1 = new CanvasJS.Chart("chartContainer1",{
			title:{
				text:"Daily Chart"
			},
      legend: {
        maxWidth: 350,
        itemWidth: 120
      },
      data: [{
				type: "pie",
        showInLegend: true,
			  legendText: "{indexLabel}",
				dataPoints : dataPoints1,
			}]
		});

		var data2 = [];
		var dataPoints2 = [];
		var chart2;
		var day = data["day"];
		var domain_data = {};

		for (item of day) {
			domain = item["domain"];
			if (!(domain in domain_data)) {
				domain_data[domain] = [];
			}
			domain_data[domain].push({start: item["start_ts"], end: item["end_ts"]});
		}

		x_idx = 1;
		idx_domain_map = {};
		for (key of Object.keys(domain_data)) {
			dataPoints2 = [];
			for (value of domain_data[key]) {
				s_dt = new Date(parseInt(value["start"]));
				// start = s_dt.getHours() + (s_dt.getMinutes() / 100);
				// start = CanvasJS.formatDate(s_dt, "HH:mm");
				start = s_dt.getTime();

				if (value["end"] == "-1") {
					e_dt = new Date(parseInt(value["start"]));
				} else {
					e_dt = new Date(parseInt(value["end"]));
				}
				// end = e_dt.getHours() + (e_dt.getMinutes() / 100);
				// end = CanvasJS.formatDate(e_dt, "HH:mm");
				end = e_dt.getTime();

				dataPoints2.push({x: x_idx, y: [start, end]});
			}
			data2.push({
				type: "rangeBar",
				name: key,
				yValueFormatString: "HH:mm",
				showInLegend: true,
				dataPoints : dataPoints2,
			});
			idx_domain_map[x_idx++] = key;
		}
		console.log(data2);

		chart2 = new CanvasJS.Chart("chartContainer2",{
			title:{
				text:"Timeline Chart"
			},
			toolTip: {
				contentFormatter: function ( e ) {
		      return idx_domain_map[e.entries[0].dataPoint.x] + ": " +
					  		 CanvasJS.formatDate(e.entries[0].dataPoint.y[0], "HH:mm") + ", " +
								 CanvasJS.formatDate(e.entries[0].dataPoint.y[1], "HH:mm");
		    }
			},
			axisY: {
				// interval: 30,
				interval: (30 * 60 * 1000),
				// valueFormatString: "HH:mm"
				labelFormatter: function(e){
					return CanvasJS.formatDate(e.value, "HH:mm");
				}
			},
			axisX: {
				interval: 5,
			},
      data: data2
		});

		chart1.render();
		chart2.render();
	});
}
</script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
</head>
<body>
<div id="chartContainer1" style="height: 300px; width: 100%;"></div>
<div id="chartContainer2" style="height: 300px; width: 100%;"></div>
</body>
</html>
